{% extends 'Base.html' %}
{% load static %}

<!-- <ul>
    {% for flower in flowers %}
    <a href="{% url 'flower:detail' flower.id %}"><li>{{ flower.name }}</li></a>
    {% endfor %}
</ul> -->



{% block content %}



<div class="header">
    <div class="row w-100 h-100 m-0">
        <div class="col-6 b-info d-flex flex-column justify-content-center align-items-end">
            <div class="bg-warnng w-75">
                <h1 class="header-main-title">
                    اسم اپلیکیشن<br>
                    <span class="green-title">ادامه اسم</span>
                </h1>
                <p class="w-75 my-4">
                    ابزار تشخیص و نگهداری گل و گیاه
                </p>
                <button class="btn btn-dark px-5">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/natural-food.png" /> دکمه
                </button>
            </div>
        </div>
        <div class="col-6 p-0 m-0 img-box">
            <img src="{% static 'assets/header2.png' %}" class="img-fluid img-header" alt="">
        </div>

    </div>
</div>


<!-- pardazesh section -->
<section class="pardazesh">
    <div class="row m-0 px-5">
        <div class="col-4 p-5">
            <div class="video bg-white">
                <div class="overlay state-1"></div>

                <video src="assets/cn.danatech.xingseus.mp4" class="video-Preview" autoplay muted>
                </video>
                <div class="play-icon rounded-circle">
                    <i class="fas fa-play"></i>
                </div>

                <video src="assets/cn.danatech.xingseus.mp4" class="video-org" controls>
                </video>
                <div class="close-icon rounded-circle">
                    <i class="fa fa-times"></i>
                </div>
            </div>

        </div>
        <div class="col-4 bg-ifo mt-4">
            <div class="pardazesh-title text-center p-3 bg-anger">
                <h2 class="title">
                    اسم گلت رو نمیدونی؟
                </h2>
            </div>
            <div class="pardazesh-p px-5 pt-2">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>
            </div>
        </div>
        <div class="col-4 p-0">
            <div class="pardazesh-icon">
                <a href="/processing" class="pardazesh-link">
                    <img src="{% static 'assets/undraw_camera_re_cnp4.svg' %}" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End pardazesh section -->

<!-- weblog section -->
<section>

    <div class="weblog p-4 web-content">
        <div class="row p-0 m-0">
            <div class="col-4">
                <div class="web-content p-5 h-100 d-flex justify-content-center flex-column align-items-center">
                    <h1 class="mb-4 fw-bold">
                        مطالب
                    </h1>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                    <button class="btn btn-dark mt-4">
                        مطالعه مطالب بیشتر
                    </button>
                </div>
            </div>
            <div class="col-8">
                <div class="row h-100 py-3">
                    <div class="col-4 p-0 my-1">
                        <div class="m-2 webimg-box">
                            <a href="">
                                <img src="{{ flower.photo.url }}" class="img-fluid w-100 h-100" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-4 p-0 my-1">
                        <div class="m-2 webimg-box">
                            <a href="">
                                <img src="{% static 'assets/5e1252c35aa3988472066b14_207d6839653681aa38e8800101680aaa.png' %}"
                                    alt="" class="img-fluid web-img">
                            </a>
                        </div>
                    </div>
                    <div class="col-4 p-0 my-1">
                        <div class="m-2 webimg-box">
                            <a href="">
                                <img src="{% static 'assets/alex-furgiuele-UkH7L-aag8A-unsplash.jpg' %}" alt=""
                                    class="img-fluid web-img">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 p-0 my-1">
                        <div class="m-2 webimg-box">
                            <a href="">
                                <img src="{% static 'assets/alex-furgiuele-UkH7L-aag8A-unsplash.jpg' %}" alt=""
                                    class="img-fluid web-img">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 my-1 p-0">
                        <div class="m-2 webimg-box">
                            <a href="">

                                <img src="{% static 'assets/5e1252c35aa3988472066b14_207d6839653681aa38e8800101680aaa.png' %}"
                                    alt="" class="web-img">
                                <div class="overlay-blog"></div>
                                <div class="des-blog">
                                    <p class="text-center">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci officia
                                        neque quasi illo, quia cumque dignissimos dolor esse voluptate. Optio?
                                    </p>
                                    <div class="footer-blog">
                                        <h5>نام این <span class="font-weight-bold">پست</span></h5>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end weblog section -->

<!-- Plant information -->
<section>
    <div class="inf-sec">
        <div class="row m-0 ">
            <!-- search info box -->
            <div class="col-5 text-center d-flex flex-column justify-content-center align-items-center">

                <h1 class="inf-title mb-3">اطلاعات گل ها</h1>
                <p>با وارد کردن نام و یا آپلود عکس گل مدنظر میتونید اطلاعاتی از قبیل: نوع گیاه، شرایط نگهداری، کود
                    های مناسب و... را ببینید.</p>
                <div class="inf-serach m-4">
                    <input type="search" class="inf-search-input" placeholder="نام گیاه مورد نظر را وارد کنید">
                    <button type="submit" class="d-inline search-button rounded-circle mx-2 inf-search-icon">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

                <div class="pic-search">
                    <button type="submit"
                        class="btn-style701 mt-3 d-inline search-button rounded-circle mx-2 inf-pic-button">
                        <span> <i class="fas fa-camera"></i></span>
                    </button>
                </div>
            </div>

            <!-- text info box -->
            <div class="col-3">
                <div class="p-4">
                    <div class="inf-card bg-white p-5">
                        <p class="inf-text show-inf" id="inf-one">
                            1-
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی
                            در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد.
                        </p>
                        <p class="inf-text" id="inf-two">
                            2-
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی
                            در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد.
                        </p>
                        <p class="inf-text" id="inf-tree">
                            3-
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی
                            در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد.
                        </p>
                        <p class="inf-text" id="inf-four">
                            4-
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی
                            در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد.
                        </p>
                        <p class="inf-text" id="inf-five">
                            5-
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی
                            در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد.
                        </p>
                        <div class="slider-controlers mt-5 d-flex align-items-center justify-content-center">
                            <div class="controler active" id="inf-one"></div>
                            <div class="controler" id="inf-two"></div>
                            <div class="controler" id="inf-tree"></div>
                            <div class="controler" id="inf-four"></div>
                            <div class="controler" id="inf-five"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- picture info -->
            <div class="col-4">
                <div class="p-5 h-100 position-relative">
                    <div class="img-slider-box">
                        <img id="inf-one" class="img-fluid slider-img show-img"
                            src="{% static 'assets/cleo-stracuzza-avA-YuEe2ZA-unsplash.jpg' %}" alt="">
                        <img id="inf-two" class="img-fluid slider-img"
                            src="{% static 'assets/daniel-oberg-sEApBUS4fIk-unsplash.jpg' %}" alt="">
                        <img id="inf-tree" class="img-fluid slider-img"
                            src="{% static 'assets/galina-n-miziNqvJx5M-unsplash.jpg' %}" alt="">
                        <img id="inf-four" class="img-fluid slider-img"
                            src="{% static 'assets/adrien-king-XzBluXxBoyQ-unsplash.jpg' %}" alt="">
                        <img id="inf-five" class="img-fluid slider-img"
                            src="{% static 'assets/alex-furgiuele-UkH7L-aag8A-unsplash.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- End Plant information -->

<!-- Flowers List -->

    <section>
        <div class="container text-center Flower-list">

            <div class="list-title">
                <h2 class = "mb-4">گلهای پیشنهادی</h2>
            </div>

            <div class="row d-flex justify-content-center">
                {% for flower in flowers %}
                <div class="col-2">
                    <a class="box" href="{% url 'flower:detail' flower.id %}">
                        <div class="img-flower">
                            <img src="{{ flower.photo.url }}" class="img-fluid w-100 h-100" alt="">
                        </div>
                        <div class="flower-name">
                            <h5> {{ flower.name }} </h5>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            
            <div class="d-flex justify-content-center">
                <a class="show-flower-btn btn-style507" href="/flowers"> دیدن لیست گل ها </a>
            </div>
        </div>
    </section>









<!-- FAQ -->
<section class="mt-4">
    <div>
        <div class="row p-0 m-0 text-center d-flex align-items-center justify-content-center">

            <div class="col-4">
                <video src="{% static 'assets/hand-watering-a-small-plant-close-up-33570-large.mp4' %}"
                    class="FAQ-video w-100" autoplay muted>
                </video>
            </div>

            <div class="col-6">
                <div class="container">
                    <div class="accordion">
                        <div class="accordion-title">
                            <h4 class="m-0 p-0">HTML</h4><span
                                class="animate__animated animate__pulse animate__repeat-2"><i
                                    class="fa-solid fa-plus"></i></span>
                        </div>
                        <div class="accordion-content">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                است، و برای شرایط
                                فعلی
                                تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
                                زیادی در شصت و
                                سه
                                درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها
                                شناخت بیشتری را
                                برای
                                طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در
                                این صورت می توان
                                امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                                زمان مورد نیاز
                                شامل
                                حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد
                                استفاده قرار
                                گیرد.
                                >لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                است، و برای شرایط
                                فعلی
                                تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
                                زیادی در شصت و
                                سه
                                درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها
                                شناخت بیشتری را
                                برای
                                طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در
                                این صورت می توان
                                امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                                زمان مورد نیاز
                                شامل
                                حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد
                                استفاده قرار
                                گیرد.</p>
                        </div>
                    </div>

                    <div class="accordion">
                        <div class="accordion-title">
                            <h4 class="m-0 p-0">CSS</h4><span><i class="fa-solid fa-plus"></i></span>
                        </div>
                        <div class="accordion-content">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                است، و برای شرایط
                                فعلی
                                تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
                                زیادی در شصت و
                                سه
                                درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها
                                شناخت بیشتری را
                                برای
                                طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در
                                این صورت می توان
                                امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                                زمان مورد نیاز
                                شامل
                                حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد
                                استفاده قرار
                                گیرد.</p>
                        </div>
                    </div>

                    <div class="accordion">
                        <div class="accordion-title">
                            <h4 class="m-0 p-0">JavaScript</h4><span><i class="fa-solid fa-plus"></i></span>
                        </div>
                        <div class="accordion-content">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                است، و برای شرایط
                                فعلی
                                تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
                                زیادی در شصت و
                                سه
                                درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.</p>
                        </div>
                    </div>

                    <div class="accordion">
                        <div class="accordion-title">
                            <h4 class="m-0 p-0">React</h4><span><i class="fa-solid fa-plus"></i></span>
                        </div>
                        <div class="accordion-content">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                است، و برای شرایط
                                فعلی.</p>
                        </div>
                    </div>
                </div>






            </div>
        </div>

    </div>
</section>
<!-- End FAQ -->


{% endblock content %}